

*{
  box-sizing: border-box;
}
.wrapper{
  width: 100%;
}
body {
    background-color:#9e9e9e3b;
}

img {
    width: 250px;
    float: right;
    max-height: 300px;
    position: relative;
    right: 300px;
    border-radius: 50%;
}
 h1 {
  
    margin:auto;
    position: relative;
    left:300px;
    
  

}

p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12px
}
p::first-line{
  color:red;
  font-variant:normal;
}
    
  
  li a.active {
    background-color:  #04AA6D;
    color: white;
  }
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
    border-radius: 50%;
    
  }
  
.home li {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .home{
      list-style-type: none;
      width: fit-content;
      padding: 0;
      margin: 0;
  }
  .descrip{
    margin:20px;
    padding:10px;
      
  }
  .ingredients{
    margin:20px;
    padding:10px;
    clear: both;
  }
  .direction{
    margin:20px;
    padding:10px;
  }
  .home >a {
   
    color: #000;
    padding: 8px 16px;
  
  }
  .foot{
    position: absolute;
    bottom: -0;
    background-color:#1b1a1940;
    width: 100%;
    min-height: 20px;
    float: left;
    padding: 25px 10px 50px 0px;
    right: 4px;
    margin:0px 0px -80px 0px;
    
    
    
   
  }
   .footer-link a{
    display: block;
    color:#ca0366;
    font-weight: bolder;
    position: relative;
    
    
  } 
  
  
   
  .footer-link{
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: none;
    left:30px;
  }
   
  .brands{
    position: absolute;
    left:300px;
    bottom: 0;
    color:#ca0366;
    font-size: x-large;
  }
  span{
    font-weight: bold;
  }
  .section{
    width: 100%;
  }







  @media only screen and (min-width: 414px){
    *{
      margin:0;
      padding:0;
    }


   
    
  
  
  
header{
  margin:20px 10px 50px;
}
img {
  width: 100px;
  float: right;
  max-height: 300px;
  position: relative;
  right: 300px;
  border-radius: 50%;
}
 h1 {

   
   position: relative;
   left: 30px;
  }
  
}

