

*{
  box-sizing: border-box;
}
body {
    background-color:#9e9e9e3b;
}

img {
    float: right;
    height: 150px;
    width:150px;
    object-fit: cover;
    margin: 29px;
    border-radius: 50%;
    position: relative;
    left: -200px;
}

h1 {
    border: 3px solid green;
    padding: 1px 15px;
    max-width:30%;
    margin: auto;
    background-color: bisque;
    border-width: 1px 10px;
    outline: #9e9e9e dotted 10px;
    outline-style: groove;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-family:"Lucida Handwriting", cursive;
    
    
  

}

p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12px
}
p::first-line{
  color:red;
  font-variant:normal;
}
    
  
  li a.active {
    background-color:  #04AA6D;
    color: white;
  }
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
    border-radius: 50%;
    
  }
  
.home li {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .home{
      list-style-type: none;
      width: fit-content;
      padding: 0;
      margin: 0;
  }
  h2{
      text-decoration: underline;
      text-decoration-color: red;
      text-shadow: 2px 2px 5px rgb(212, 0, 255);
  }
  .home >a {
   
    color: #000;
    padding: 8px 16px;
  
  }
  .foot{
    position: absolute;
    bottom: -0;
    background-color:#1b1a1940;
    width: 100%;
    min-height: 20px;
    float: left;
    padding: 25px 10px 50px 0px;
    right: 4px;
    margin:0px 0px -80px 0px;
    
    
    
   
  }
   .footer-link a{
    display: block;
    color:#ca0366;
    font-weight: bolder;
    position: relative;
    
    
  } 
  
  
   
  .footer-link{
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: none;
    left:30px;
  }
   
  .brands{
    position: absolute;
    left:300px;
    bottom: 0;
    color:#ca0366;
    font-size: x-large;
  }
  span{
    font-weight: bold;
  }
  
  

